.attribution {
    font-size: 11px;
    text-align: center;
}
<<<<<<< HEAD

.attribution a {
    color: hsl(228, 45%, 44%);
}

html, body {
    background-color: #edf2f8;
}

.card-container {
    display: flex;
    width: 830px;
    margin: 0 auto;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 12px #dee8f2;
}

.card-image {
    width: 60rem;
}

.card-image img {
    width: 100%;
}
=======
>>>>>>> a5684cfb45a576322db3cd8e578c1d42ae70fd01

.attribution a {
    color: hsl(228, 45%, 44%);
}

html, body {
    background-color: #edf2f8;
}

.card-container {
    display: flex;
    width: 830px;
    margin: 0 auto;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 12px #dee8f2;
}

.card-image {
    width: 60rem;
}

.card-image img {
    width: 100%;
}
